.large-button {
    width:100%;
}
.general-button{
    width: 33.33%;
}
.large-button,
.general-button{
    color: black;
    background: white;
    font-size: 45px;
}
.operation-button{
    width: 100%;
    background: rgb(160, 0, 30);
    color:white;
    font-size: 70px;
}
.operation-button,
.general-button,
.large-button {
    height: 95px;
    border: 1.5px solid gray;
    
}